<form action="{%url 'categorias'%}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Categoria</h1></legend>
        {% if error_message %}
        <p class="error">{{error_message}}</p>
        {% endif %}
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre"/>
        <br>
        <input type="submit" value="Enviar"/>
    </fieldset>
   </form>
#listar categorias 
<ul>
    {% for categoria in categorias %}
        <li>{{ categoria }}</li>
    {% endfor %}
</ul>